*.pidb
*.userprefs
*.swp
*.DS_Store
*.nib
*/bin/*
*/obj/*
*/*/bin/*
*/*/obj/*
ScrollingButtons/AppDelegate.cs

ScrollingButtons/Info.plist

ScrollingButtons/Main.cs

ScrollingButtons/WrestlingStatsController.cs
